h2 {
    color: blue;
    text-align: center;
}

h3 h4 {
    text-align: left;
}

p {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -600%);
    color: black;
}

.fakeimg {
    height: 200px;
    background: #aaa;
}

.form-inline {
    background-color: lightgray;
}

.slider {
    background-image: url('https://www.w3schools.com/css/img_5terre_wide.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}

@media only screen and (max-width: 390px) {
    .slider {
        background-image: url('https://www.w3schools.com/css/img_5terre_wide.jpg');
        background-size: cover;
        background-position: center;
        height:200px;
    }
}


